$ANIMATION_DISTANCE: 40px;
$ANIMATION_DURATION: 0.2s;

$COLOR_DEFAULT: #9a9a9a;
$COLOR_FOOTNOTE: #dddddd;
$COLOR_HOVER: #222222;
$COLOR_THEME: #45b4e4;

$FONT: "Muli";
$FONT_BOLD: "Muli-Bold";
$FONT_SEMIBOLD: "Muli-Semibold";

$IMAGE_MIN_WIDTH: 128px;

$LOUPE_MASK_WIDTH: 190px;
$LOUPE_MASK_HEIGHT: 190px;
$LOUPE_MASK_OFFSET_X: 20px;
$LOUPE_MASK_OFFSET_Y: 20px;

$VIEWPORT_MARGIN: 4vh;
