@font-face {

    font-family: "Muli";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Muli.woff2") format("woff2");
}

@font-face {

    font-family: "Muli-Semibold";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/Muli-Semibold.woff2") format("woff2");
}

@font-face {

    font-family: "Muli-Bold";
    font-weight: 800;
    font-style: normal;
    src: url("../fonts/Muli-Bold.woff2") format("woff2");
}